

<div *ngIf="!isLoggedIn; else loggedInTemplate">



<nav class="navbar ">
  <div class="navbar-left" >
    <h3 class="logo" routerLink="/login">{{title}}</h3>
  </div>
  <div class="navbar-right">
    <a [routerLink]="['login']" routerLinkActive="active">Login</a>
    <a [routerLink]="['register']" routerLinkActive="active">Register</a>
  </div>
</nav>
</div>


<ng-template #loggedInTemplate>
<nav class="navbar">
  <div class="navbar-left" >
    <h3 class="logo" routerLink="/">{{title}}</h3>
  </div>
  <div class="navbar-right">
    <a [routerLink]="['/add.issue']" routerLinkActive="active">Add Issue</a>
    <a [routerLink]="['/issues']" routerLinkActive="active">All Issues</a>
    <a class="logoutbtn" routerLinkActive="active" (click)="logout()">Logout</a>

  </div>
</nav>
</ng-template>


