<div *ngIf="issue" class="showIssueDetails">


      <div class="card-header">
        <h3>{{ issue.title }}</h3>
        <span class="status-label" [ngClass]="issue.status">{{ issue.status }}</span>

      </div>

      <p class="issue-id"><strong>ID:</strong> {{ issue.issueId }}</p>
      <p class="description">{{ issue.description }}</p>

      <p><strong>Created By:</strong> {{ issue.createdBy }}</p>
      <p><strong>Assigned To:</strong> {{ issue.assignedTo }}</p>

      <div class="card-footer">
        <span class="severity-label" [ngClass]="issue.severity">{{ issue.severity }}</span>

        <button class="edit-btn" (click)="onChangeStatus(issue.issueId)">✏️Update_Status</button>
        <span class="delete-btn" (click)="deletIssueById(issue.issueId)">Delete X</span>
        <span class="close-btn" (click)="closeExpansion(issue.issueId)">Close <span style="font-size: 15px;">🔼</span></span>

      </div>

    </div>



